<div class=row>
<form class="event-search "action="/events/search" method="get">
  <div class="row">
    <div class="medium-12 columns">
      <label><h3>View RSVP by Event</h3></label>
      <select name="event">
        <option value="--"></option>
        <% @event_list.each do |e| %>
          <option value=<%= e.event_name %>> <%= e.event_name %></option>
        <%end%>
      </select>
    </div>
    <input type="submit" value="Search" class="button tiny"/>
  </div>
</form>
</div>

<% if @event_rsvps %>
  <div class="row">
    <h4><%=params[:event]%></h4>
    <table class="rsvp-totals">
      <thead>
        <tr>
          <th width="120">YES</th>
          <th width="120">NO</th>
          <th width="120">NO REPLY</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%=@attending%></td>
          <td><%=@not_attending%></td>
          <td><%=@no_reply%></td>
        </tr> 
      </tbody>
    </table>

    <h4>Guest List</h4>    
    <table class="rsvp-guest-list">
      <thead>
        <tr>
          <th>Status</th>
          <th width="300">Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @event_rsvps.each do |rsvp| %>
          <tr>
            <td><%=rsvp.status%></td>
            <td><%=rsvp.guest.first_name%> <%=rsvp.guest.last_name%></td>
            <td><%=rsvp.updated_at.to_s(:long)%></td>
          </tr>
        <%end%>  
      </tbody>
    </table>
  </div>
<%end%>
