<a id="tothetop"></a>
<div class="row">
  <div class="gallery">
    <ul class="example-orbit" data-orbit data-options="timer_speed:4000; navigation_arrows: true;">
      <li class="reg">
        <%=image_tag("gallery/1.jpg")%>
      </li>
      <li class="active tall">
        <%=image_tag("gallery/2.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/3.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/4.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/5.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/6.jpg")%>
      </li>
      <li class="tall">
        <%=image_tag("gallery/7.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/8.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/9.jpg")%>
      </li>
      <li class="tall">
        <%=image_tag("gallery/10.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/11.jpg")%>
      </li>
      <li class="tall">
        <%=image_tag("gallery/12.jpg")%>
      </li>
      <li class="tall">
        <%=image_tag("gallery/13.jpg")%>
      </li>
      <li class="tall">
        <%=image_tag("gallery/14.jpg")%>
      </li>
      <li class="reg">
        <%=image_tag("gallery/15.jpg")%>
      </li>
    </ul>
  </div>
</div>