<a id="tothetop"></a>
<div class="weddingparty"></div>

<div class="wprow">
  <div class="row">
    <div class="large-6 columns bride">
      <h3>Bride's Family </h3>

      <div class="pic"><%=image_tag("weddingparty/anil.jpg", size:"200")%></div>
      <p>Late Anil Patel - Father</p>

      <div class="pic"><%=image_tag("weddingparty/nita.jpg", size:"200")%></div>
      <p>Nita Patel - Mother</p>

      <div class="pic"><%=image_tag("weddingparty/keya.jpg", size:"200")%></div>
      <p>Keya Patel - Sister</p>

      <div class="pic"><%=image_tag("weddingparty/dhruvil.jpg", size:"200")%></div>
      <p>Dhruvil Patel - Brother</p>
    </div>

    <div class="large-6 columns groom">
      <h3>Groom's Family</h3>

      <div class="pic"><%=image_tag("weddingparty/navin.jpg", size:"200")%></div>
      <p>Navinchandra Dadhaniya - Father</p>

      <div class="pic"><%=image_tag("weddingparty/rasila.jpg", size:"200")%></div>
      <p>Rasila Dadhaniya- Mother</p>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Chirag Dadhaniya - Brother</p>
    </div>
  </div>
</div>



<div class="wprow">
  <div class="row">
    <div class="large-6 columns bride">
      <h3>Bridesmaids</h3>

      <div class="pic"><%=image_tag("weddingparty/keya.jpg", size:"200")%></div>
      <p>Keya Patel</p>

      <div class="pic"><%=image_tag("weddingparty/keya.jpg", size:"200")%></div>
      <p>Khushboo Doshi</p>

      <div class="pic"><%=image_tag("weddingparty/melissa.jpg", size:"200")%></div>
      <p>Melissa Joseph</p>

      <div class="pic"><%=image_tag("weddingparty/mital.jpg", size:"200")%></div>
      <p>Mital Patel</p>

      <div class="pic"><%=image_tag("weddingparty/keya.jpg", size:"200")%></div>
      <p>Neema Parikh</p>

      <div class="pic"><%=image_tag("weddingparty/nimu.jpg", size:"200")%></div>
      <p>Neemisha Patel</p>

      <div class="pic"><%=image_tag("weddingparty/keya.jpg", size:"200")%></div>
      <p>Prerna Bodalia</p>

      <div class="pic"><%=image_tag("weddingparty/rina.jpg", size:"200")%></div>
      <p>Rina Soni</p>
    </div>

    <div class="large-6 columns groom">
      <h3>Groomsmen</h3>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Chirag Dadhaniya</p>

      <div class="pic"><%=image_tag("weddingparty/harsh.jpg", size:"200")%></div>
      <p>Harsh Shah</p>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Mayur Patel</p>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Shaan Shah</p>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Sujay Patel</p>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Tejas Rawal</p>

      <div class="pic"><%=image_tag("weddingparty/chirag.jpg", size:"200")%></div>
      <p>Vivek Patel</p>

      <div class="pic"><%=image_tag("weddingparty/zah.jpg", size:"200")%></div>
      <p>Zahid Lodhia</p>
    </div>
  </div>
</div>
