<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />

    <title><%= content_for?(:title) ? yield(:title) : "Parag & Shreya" %></title>

    <%= stylesheet_link_tag    "application" %>
    
    <!-- Used for gallery -->
    <%= stylesheet_link_tag "slick.css"%>
    
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'moose.JPG' %>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Dancing+Script|PT+Sans' rel='stylesheet' type='text/css'>

    <meta property="og:title"  content="Parag & Shreya | We're getting married!" />
    <meta property="og:image:url"  content="<%=image_url('preview.jpg')%>" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="428" />
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <!-- Left Nav Sections -->
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="/">P&S&nbsp;<i class="fi-heart"></i>&nbsp;<%=countdown%> Days</a>
            </h1>
          </li>
          <li class="toggle-topbar">
            <a href="#"><span>Menu <i class="fi-align-justify"></i></span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="/#story">Our Story</a></li>
            <li><a href="/weddingparty">Wedding Party</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/accommodations">Accommodations</a></li>
            <li><a href="/rsvp">R.S.V.P.</a></li>
            <li><a href="/social">#ParagAndShreya</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <!-- <li class="has-dropdown">
              <a href="#">More</a>
              <ul class="dropdown">
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/social">Get Social</a></li>
              </ul>
            </li> -->
          </ul>
        </section>
      </nav>
    </div>

    <div class="row down">
      <a href="#to-next-div"><i class="fi-arrow-down"></i></a>
    </div>

    <%= yield %>

    <div class="row top">
      <a href="#tothetop"><i class="fi-arrow-up"></i></a>
    </div>
    <% moose_image = ActionController::Base.helpers.image_path('moose.JPG')%>
    <%= react_component('Footer', {image: moose_image} ) %>

    <!-- Used for gallery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <%=javascript_include_tag "slick.min.js"%>
    <%=javascript_include_tag "slick.js"%>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65148712-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
