<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />

    <title><%= content_for?(:title) ? yield(:title) : "Parag & Shreya" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'moose.JPG' %>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Dancing+Script|PT+Sans' rel='stylesheet' type='text/css'>

    <meta property="og:title"  content="Parag & Shreya | We're getting married!" />
    <meta property="og:image:url"  content="<%=image_url('preview.jpg')%>" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="428" />
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <!-- Left Nav Sections -->
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">P&S <i class="fi-heart"></i> <%=countdown()%> Days</a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"><span>Menu <i class="fi-align-justify"></i></span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="/#story">Our Story</a></li>
            <li><a href="/events/index">Events</a></li>
            <li><a href="/weddingparty/index">Wedding Party</a></li>
            <li><a href="/accomodations/index">Accommodations</a></li>
            <li><a href="/rsvp/index">R.S.V.P.</a></li>
            <li><a href="/contact/index">Contact Us</a></li>
            <li class="has-dropdown">
              <a href="#">More</a>
              <ul class="dropdown">
                <li><a href="/gallery/index">Gallery</a></li>
                <li><a href="/social/index">Get Social</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row down">
      <i class="fi-arrow-down"></i>
    </div>
    <%= yield %>
    <div class="row top">
      <a href="#tothetop"><i class="fi-arrow-up"></i></a>
    </div>
    <div class="footer">
      <div class="row">
       Powered by Shreya & Parag <%=image_tag("moose.JPG", size:"35")%>
      </div>
    </div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-65148712-1', 'auto');
        ga('send', 'pageview');
      </script>
  </body>
</html>
